* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, li, p {
    color: white;
    line-height: 1.5em;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}

p, li {
    font-size: 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}